<div class="container">		
	<div class="row">
		<div class="col-md-6" id="user-dash-form">
			<form action="/users" class="user" id="user" method="post">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<div class="form-group">
					<h2>Signup</h2>
					<label for="inputEmail">Email address</label>
					<input type="email" name="email" class="form-control" id="email-input" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">(We'll never share your email with anyone else.)</small>
				</div>
				<div class="form-group">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" class="form-control" id="password-input" placeholder="Password">
					<small id="passwordHelp" class="form-text text-muted">(Minimum 8 characters and contain at least one capital letter and one number.)</small>
				</div>
				<div class="form-group">
					<label for="inputPasswordConf">Password Confirmation</label>
					<input type="password" name="password_confirmation" class="form-control" id="password-conf-input" placeholder="Password Confirmation">
					<small id="passwordConfHelp" class="form-text text-muted"></small>
				</div>
				<button type="submit" class="btn btn-primary">Sign Up</button>
			</form>
		</div>
	</div>
</div>