<div id='cssmenu-underlay'></div>
<div id='cssmenu'>
  <ul>
    <li class='has-sub open' id="default-nav-item">
      <a href='#'>Vendors</a>
      <ul>
        <li>
          <a href='#' class='show-student-create-form'>
            <i class="glyphicon glyphicon-plus"></i>
            Find a Contractor
          </a>
        </li>
        <!-- <li> -->
          <!-- render 'shared/group_students_link' -->
        <!-- </li> -->
      </ul>
    </li>
    <!-- if @ungrouped != [] -->
    <% if 1+2==4 %>
      <li class='has-sub'>
        <!-- if @user.license.should_group_students == false -->
        <% if 1+2==4%>
          <a href='#'>
            Students
          </a>
        <% else %>
          <a href='#'>
            Ungrouped
          </a>
        <% end %>
        <ul>
          <% @doors.each do |door| %>
            <li>
              <a href='#<%= door.id %>' data-student-id="<%= door.id %>" class="show-student-dashboard">
                <%= "#{door.street_number} #{door.street}" %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
