<div id='cssmenu-underlay'></div>
<div id='cssmenu'>
	<ul>
		<li class='has-sub open' id="default-nav-item">
			<a href='#'>Properties</a>
			<ul>
				<li>
					<a href='#' class='show-menu-option'>
						Show All
					</a>
				</li>
				<li>
					<a href='#' class='show-menu-option'>
						Payments
					</a>
				</li>
				<li>
					<a href='#' class='show-menu-option'>
						Work Orders
					</a>
				</li>
			</ul>
		</li>
		<li class='has-sub'>
			<a href='#'>
				Vendors
			</a>
			<ul>
				<li>
					<a href='#' class='show-menu-option'>
						Invoices
					</a>
				</li>
				<li>
					<a href='#' class='show-menu-option'>
						Find a Contractor
					</a>
				</li>
			</ul>
		</li>
		<li class='has-sub'>
			<a href='#'>Communications</a>
			<ul>
				<li>
					<a href='#' class='show-menu-option'>
						Show All
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>

